includes:
    - vendor/symplify/phpstan-rules/config/symplify-rules.neon
    - vendor/symplify/phpstan-rules/config/rector-rules.neon
parameters:
    level: max

    # requires exact closure types
    checkMissingCallableSignature: true

    paths:
        - config
        - src
        - tests

    excludePaths:
        - bin
        - src/Command

    ignoreErrors:
         # rector co-variant
         - '#Parameter \#1 \$node (.*?) of method MCampbell508\\(.*?)\:\:(refactor|refactorWithScope)\(\) should be contravariant with parameter \$node \(PhpParser\\Node\) of method Rector\\Contract\\Rector\\RectorInterface\:\:refactor\(\)#'
         - '#provideMinPhpVersion\(\) never returns #'
         - '#is missing @see annotation with test case class#'